.first-h1 {
	color: blue;
}

.second-header {
	color: red;
}

.football-header {
	color: green;
	border: 1px solid red;
	background-color: yellow;
	display: inline-block;
}

.spain {
	color: yellow;
	background-color: blue;
	display: inline-block;
}

.leaders {
	background-color: orange;
	display: inline-block;
}

.team-1 {
	background-color: chocolate;
	display: inline-block;
}

.team-2 {
	border: 2px solid blueviolet;
	display: inline-block;
}

.paragraph-1 {
	margin-top: 150px;
	margin-bottom: 100px;
	margin-left: 40px;
}

.error-report {
	color: brown;
}

.my-botton {
	background-color: greenyellow;
	color: white;
	border: none;
	border-radius: 15px;
	padding: 10px;
}

.my-input {
	border: 3px dotted blue;
}

.nhl-leaders {
	font-size: 35px;
}

.my-list {
	list-style-type: square;
}

.fav-sport {
	color: red;
	border: 5px dashed blue;
}

.my-select {
	border: 1px solid red;
	border-radius: 5px;
}

.my-image {
	height: 200px;
	border-radius: 10px;
}

.my-section {
	background-color: red;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
