body {
	font-family: Roboto, sans-serif;
}
/* header */
.container-header {
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	background: #007765;
}

.header {
	width: 100%;
}

.header-content {
	display: flex;
	justify-content: space-around;
	max-width: 1219px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 55px;
	padding-right: 55px;
}

.header-image {
	display: block;
	padding: 20px 0 19px 0;
	margin: 0 auto;
	width: 183px;
	height: 45px;
}

.header-menu {
	padding: 1% 10px 1% 10px;
	font-size: 24px;
	font-style: normal;
	display: inline-flex;
	color: #fff;
}
.header-menu p {
	padding: 0 8px 0 8px;
}

a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: underline;
	color: #fff;
}

#theproblem,
#PPC,
#the-team {
	padding-top: 55px;
	margin-top: -55px;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

/* Jumbotron	 */
.container-jumbotron {
	background-image: url(imager.svg);
	background-size: cover;
	margin-top: 95px;
	background-position: center center;
}

.jumbotron {
	box-sizing: border-box;
	max-width: 1219px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 55px;
	padding-right: 55px;
}

.jumbotron p {
	color: #fff;
	font-size: 72px;
	font-style: normal;
	text-align: center;
	padding: 10% 15%;
	margin-top: -10px;
	line-height: 84px;
}

/* The Problem */
.container-problem {
	background-color: #eee;
	margin-top: -72px;
	padding-bottom: 47px;
}

.theproblem-text h1 {
	color: #007765;
	font-size: 64px;
	text-align: center;
	line-height: auto;
	font-style: normal;
	margin: 0;
	line-height: 75px;
	padding-top: 48px;
}

.theproblem-text {
	box-sizing: border-box;
	max-width: 1219px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 55px;
	padding-right: 55px;
}
.theproblem-text p {
	color: #000;
	font-style: normal;
	font-size: 32px;
	line-height: 37px;
	text-align: justify;
	padding-top: 10px;
	padding-bottom: 47px;
}
/*hero*/
.container-hero {
	background-image: url(bluee.svg);
	background-size: cover;
	background-position: center center;
	padding: 128px 0 128px 0;
}

.hero {
	box-sizing: border-box;
	max-width: 1219px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 55px;
	padding-right: 55px;
}

.hero p {
	color: #fff;
	font-style: italic;
	font-size: 48px;
	text-align: center;
	font-weight: 500;
	line-height: 56px;
	text-align: center;
}

/* Introduction PPC */
.container-intro-ppc {
	color: #fff;
}

.intro-ppc {
	box-sizing: border-box;
	max-width: 1219px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 55px;
	padding-right: 55px;
}

.intro-ppc h1 {
	color: #007765;
	font-size: 64px;
	text-align: center;
	line-height: auto;
	font-style: normal;
	margin: 0;
	line-height: 75px;
	padding-top: 48px;
}

.intro-ppc p {
	font-size: 32px;
	font-style: normal;
	color: #000;
	text-align: left;
	line-height: 37px;
	font-weight: normal;
	padding-top: 16px;
	margin: 0;
	padding-bottom: 92px;
}

.intro-ppc-logo {
	float: left;
	width: 115px;
	padding: 0 48px 35px 0;
	margin: 0;
}

/*The team */
.container-team {
	background-color: #eee;
}

.the-team {
	box-sizing: border-box;
	max-width: 1219px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 55px;
	padding-right: 55px;
}

.the-team h1 {
	color: #007765;
	font-size: 64px;
	text-align: center;
	line-height: auto;
	font-style: normal;
	margin: 0;
	line-height: 75px;
	padding-top: 48px;
}
.the-team-content {
	box-sizing: border-box;
	max-width: 1219px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 55px;
	padding-right: 55px;
}

.the-team-members {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline-block;
}

.members {
	display: inline-block;
	box-sizing: content-box;
	padding: 27px;
	margin: 2%;
}

.member-photo {
	width: 168px;
	position: center center;
	margin: 20px 30px 0;
}

.name {
	color: #007765;
	font-size: 24px;
	line-height: auto;
	font-style: normal;
	font-weight: bolder;
	margin: 0;
	text-align: center;
}

.status {
	font-size: 18px;
	color: #000;
	font-style: italic;
	text-align: center;
	margin-top: 2px;
}

/* footer */
.container-footer {
	background-color: #333;
}
.footer-content {
	box-sizing: border-box;
	max-width: 1219px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 55px;
	padding-right: 55px;
}
.footer-text {
	font-size: 18px;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 64px;
	padding-right: 286px;
	padding-left: 285px;
	color: #fff;
}
